@import "react-slideshow-image/dist/styles.css";

.all_content_Slideshow{
    font-weight: 300;
    color: white;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto ;
    padding-top: 25vh;
    text-align: center;
    font-size: 1.7vw;
    letter-spacing: -0.05em;
    position: relative;
    bottom: 20vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 50vh;
    width: 50vw;
  } */

/* .Carousel{
    margin: 0 auto;
    width:50vw;
    position:relative;
    right:50vh;
    min-width: 50v;
} */

.thumbs-wrapper{
    width: fit-content;
    position: relative;
}

.Slide_Title{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
