@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
p {
  color: white;
}

#desc{
    letter-spacing: -0.045em;
    font-weight: 500;
    font-size:1.7vw;
    margin-top: 7vh;
}
.upper_text {
  position: relative;
  width: 100vw;
  margin-bottom: -15vh;
  right: 1.7vw;
}

.small_help {
  font-weight: 400;
  font-size: 1.7vw;
  font-kerning: none;
  letter-spacing: -0.05em;
}

.big_create {
  margin-left: 20px;
  font-weight: 300;
  font-size: 6.8vw;
  font-kerning: none;
}
.uq_inverse {
  margin-left: 20px;
  font-weight: 400;
  font-size: 6.8vw;
  letter-spacing: -0.08em;
  color: black;
  background-color: white;
  border-color: red;
  box-sizing: border-box;
  padding-right: 15px;
}

.white_box {
  padding: 13px;
  background-color: black;
  position: relative;
  height: 11.7vh;
  width: 23vw;
  left: 112vh;
  bottom: 7.5vw;
  z-index: -1;
}

.bld_dsgn {
  font-weight: 500;
  font-size: 6.8vw;
}

.all_content {
  color: white;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.5rem;
  margin: 0 auto ;
  padding-top: 27vh;
  text-align: center;
}

.mouse{
  top:15vh;
  position:relative;
}


